<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "login_images\icons\icon1.jpg" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "login_vendor\bootstrap\css\bootstrap.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "fonts\font-awesome-4.7.0\css\font-awesome.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "fonts\iconic\css\material-design-iconic-font.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "login_vendor\animate\animate.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "login_vendor\css-hamburgers\hamburgers.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "login_vendor\animsition\css\animsition.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "login_vendor\select2\select2.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "login_vendor\daterangepicker\daterangepicker.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "login_css\login_util.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "login_css\login_main.css" %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static "login_images\bg.jpg" %});">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

          {% csrf_token %}
          {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}

          <div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="username" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="password" id="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
            Don't have an account?
						<a class="txt1" href="{% url 'shop:register' %}">
							Create an Account
						</a><br>
            Forgot your password?
						<a class="txt1" href="#">
							Reset it.
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static "login_vendor\jquery\jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
  <script src="{% static "login_vendor\animsition\js\animsition.min.js" %}"></script>
<!--===============================================================================================-->
  <script src="{% static "login_vendor\bootstrap\js\popper.js" %}"></script>
  <script src="{% static "login_vendor\bootstrap\js\bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
  <script src="{% static "login_vendor\select2\select2.min.js" %}"></script>
<!--===============================================================================================-->
  <script src="{% static "login_vendor\daterangepicker\moment.min.js" %}"></script>
  <script src="{% static "login_vendor\daterangepicker\daterangepicker.js" %}"></script>
<!--===============================================================================================-->
  <script src="{% static "login_vendor\countdowntime\countdowntime.js" %}"></script>
<!--===============================================================================================-->
  <script src="{% static "login_js\main.js" %}"></script>

</body>
</html>
